
{{webb,"webb_server"},[{brd_ipaddr,"localhost"},{brd_port,20001},{webb_port,20000}]}.
{{"localhost",10501},{location,zone_0},{capability,[]},{appl,[]}}.
{{"localhost",10511},{location,zone_1},{capability,[dbase,tellstick]},{appl,[]}}.
{{"localhost",10521},{location,zone_2},{capability,[tellstick]},{appl,[]}}.
{{"localhost",10531},{location,zone_0},{capability,[]},{appl,[]}}.
{{"localhost",10000},{location,zone_0},{capability,[]},{appl,["repo_mgr"]}}.
{{"localhost",10010},{location,zone_0},{capability,[]},{appl,["infra_master"]}}.